.form {
  &__input {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    width: 100%;
    padding: 20px;
    border-radius: 16px;
    background-color: #fff;
  }
  
  &__submit {
    cursor: pointer;
    text-align: center;
    border: none;
    margin: 5px 0px;
    padding: 10px 20px;
    font-size: 15px;
    border-radius: 5px;
    width: 100%;
  
    background-color: #0f1114;;
    color: #fff;

    &:hover {
      background-color: #393e46;
    }
  }
  
  &__editing {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  
    &_update {
      cursor: pointer;
      text-align: center;
      border: none;
      margin: 5px 0px;
      padding: 10px 20px;
      font-size: 15px;
      border-radius: 5px;
      width: 45%;
  
      background-color: #81c4de;
      color: #000;
    }
  
    &_cancel {
      cursor: pointer;
      text-align: center;
      border: none;
      margin: 5px 0px;
      padding: 10px 20px;
      font-size: 15px;
      border-radius: 5px;
      width: 45%;
  
      background-color: #d3d3d3;
      color: #000;
    }
  }
}

.input {
  display: flex;
  justify-content: center;
  flex-direction: column;
  box-sizing: border-box;
  outline: none;
  width: 100%;
  padding: 12px 10px;
  font-size: 15px;
  border: 1px solid #81c4de;
  border-radius: 5px;
  &:focus {
    border-color: #0f1114;
  }
  margin: 5px 0px;
}
  