.data {
  display: flex;
  flex-direction: column;
  background-color: #d7f1fa;

  &__up {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 2.5rem 0 2.5rem;
  }

  &__add {
    color: white;
    background-color: #0f1114;
    border: 1px #0f1114;
    padding: 10px 24px;
    border-radius: 50%;
    margin-top: 1.75rem;
    font-size: 50px;
  }

  &__plus {
     margin-top: 1.75rem;
  }

  &__heading {
    display: flex;
    flex-direction: column;
  }

  &__title {
    display: flex;
    font-size: 30px;
  }

  &__desc {
    display: flex;
    font-size: 20px;
    margin-top: -1.5rem;
  }

  &__body {
    display: flex;
    flex-wrap: wrap;
    padding: 3rem 2.5rem 3rem 2.5rem;
  }

  &__empty {
    display: flex;
    font-size: 20px;
  }
}

.modal {
  &__close {
    position: absolute;
    right: 8px;
    top: 4px;
    font-size: 18px;
    cursor: pointer;
    background-color: #0f1114;
    color: white;
    border: 1px #0f1114;
    margin: 5px 0px;

    &:hover {
      background-color: #393e46;
    }
  }
}

@media (min-width: 40em) {
  .data {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &__body {
      flex: 0 1 calc(50% - 1em);
    }
  }
}

@media (min-width: 60em) {
  .data {
    flex: 0 1 calc(25% - 1em);
  }
}
